<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <thead>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/students">List Student <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/subjects">List Subject</a>
                    </li>
                </ul>
            </div>
        </nav>
    </thead>
    <tbody>
        <div>
            <form class="px-4 py-3">
                <div class="form-group">
                    <label for="exampleDropdownFormEmail1">Username</label>
                    <input type="email" class="form-control" id="exampleDropdownFormEmail1" style="width :50%"
                        placeholder="Enter your username">
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleDropdownFormPassword1" style="width :50%"
                        placeholder="Enter your password">
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                            Remember me
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">New around here? Sign up</a>
        </div>
    </tbody>
    <br><br><br>
    <tfoot>
        <h1>What they said?</h1>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="https://i1.wp.com/rollercoasteryears.com/wp-content/uploads/Thrive-During-Finals-.jpg?resize=1000%2C667&ssl=1"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">John Doe</h5>
                        <p class="card-text">An amazing school with so many different positive qualities about it!
                            There's also a lot of balance - Greek life doesn't dominate but it's still there and pretty
                            open to most people. Academics are challenging/rigorous but so captivating that you're
                            motivated to work hard. There is a variety of social, political, economic, religious views
                            represented on campus and yet almost everyone is respectful and open about getting to know
                            about why you think the way you do. To cut a long story short - best college in the world,
                            and I couldn't be happier.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="https://specials-images.forbesimg.com/imageserve/5d68b2b568cb0a0008c0dba9/960x0.jpg?fit=scale"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Anne Poppy</h5>
                        <p class="card-text">I loved the campus. You can feel the history through the architechture.
                            However, New Haven is not the most inviting town so stay on campus. There is so much
                            happening on campus as well, its a terrific environment.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <img src="https://www.vmcdn.ca/f/files/mahoningmatters/student-01152020.jpg;w=960"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lucas Brandon</h5>
                        <p class="card-text">As a first generation, low income student it was a bit of a culture shock
                            when I first arrived to Yale. The rich people are very cliquey, but that's life. I have met
                            some really cool people though and surrounding myself with people that care about me and
                            know how to have a balanced social/school life has been great.</p>
                    </div>
                </div>
            </div>
        </div>
    </tfoot>
</body>
</html>


