<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <tr>
            <th>No</th>
            <th>Subject's Name</th>
            <th>Lecture</th>
        </tr>
        <% for(let i =0; i< data.length; i++){ %>
        <tr>
            <td><%= i +1 %></td>
            <td><%= data[i].name %></td>
            <td><%= data[i].lecturer %></td>
        </tr>
        <% } %>
    </table>
</body>

</html>